#main {
  position:absolute;
  width:100%;
  height:100%;
}

#runningStatus {
 position:absolute;
 width:300px;
 height:18px;
 left:35px;
 top:10px;
 font-size:12px;
 color:#456068; 
}

#controllers {
 position:absolute;
 top:5px;
 left:70%;
}

#domExp {
 display:none;
 position:absolute;
 background:white;
 left:50px;
 top:40px;
 width:85%;
 z-index:100;
 font:15px arial;
 color:#3f6d75;
 border:1px solid #aaa; 
 overflow:auto;
}

#ide {
 position: relative;
 width:100%;
 height: 85%;
 border:1px solid #aaa;
 overflow: auto; overflow-y: auto; overflow-x: hidden;
}

#ideForm {x
 width:100%;
}

#navigation {
 position:absolute;
 padding:8px;
 height:10px;
 bottom:5px;
 font:11px arial;
 background:white;
 left:10%;
}

#gray {
 position:absolute;
 width:100%;
 height:100%;
 background-color:gray;
 opacity:.8;
 z-index:9;
 visibility:hidden; 
}

.tab {
 height:40%;
 width:99%;
 overflow:auto;
 border:1px dashed black; 
}
