#shellOutput{
 position:relative;
 overflow: auto; 
 font-size: 10px; 
 height: 300px; 
 width: 98%; 
 border: 1px solid #aaa; 
 border-bottom: 0px; 
 font-family:'Courier New', 'Courier', monospace; 
}

#shellInput{
 width: 98%; 
 font-size: 14px; 
 height: 20px; 
 line-height: 20px; 
 border: 1px solid #aaa; 
}