body, html
{	
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-family: verdana, sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0; 
  overflow: auto; overflow-y: hidden; overflow-x: hidden;
  width:100%;
  height:100%;
  position:absolute;
}
a {
  color: #9a3527;
  text-decoration: none;
}
a:hover {
  color: #456068;
  /*border-bottom: 1px dotted;*/
}

img {
  border:none;
}

.suite {
  overflow:hidden;
  /*border-bottom:1px solid black;*/
  position:relative;
  width:99%;
}

.suiteHeader {
  width:99%;
  table-layout: fixed;
}

.suiteTitleDiv {
  /*cursor:pointer;*/
  width:215px;
  overflow:hidden
}

.suiteButton {
  padding-left:4px;
  padding-right:4px;
}

.action {
  position:relative;
  padding:2px;
  margin:1px;
  overflow:hidden;
}

.action img {
	width:23px;
	height:23px;
}

.tabHead {
  font-size:12px;
}

.buttons {
 position:absolute;
 right:15px;
 top:0px;
}

.textSpan {
  margin-left:2px;
  color:#666;
  font-weight: bold;
}
.moreLink {
  text-decoration: underline;
  font-size:9px;
  position:absolute;
  right:20px;
}
.lessLink {
  text-decoration: underline;
  font-size:9px;
  position:absolute;
  right:20px;
}

.texta {
  /*font-size: 10px;
    height:19px;
    border: 1px solid lightgray;
    margin-left:2px;
    */
    SCROLLBAR-BASE-COLOR: #fffffff;
    SCROLLBAR-ARROW-COLOR: #666666;
    border-top-width : 1px;
    border-right-width : 1px;
    border-bottom-width : 1px;
    border-left-width : 1px;
    border:1px solid lightgray;
    margin-top:1px;
    margin-left:2px;
    width:75%;
    padding:2px;
}

.smalloption {
  height:19px;
  margin-bottom:1px;
  margin-top:1px;
  border:1px solid lightgray;
}

.floatLeft {
  float:left;
}
.floatRight {
  float:right;
}
.clearBoth {
  clear:both;
  font-size: 0px;
  height: 0px;
  line-height:0px;
}

#cover {
 width:100%;
 height:100%;
 background-color:white;
 opacity:.8;
 filter: alpha(opacity=80);
 z-index:5;
 position:absolute;
 left:0px;
 top:0px;
 padding:0px;
 margin:0px;
}

#icon {
  position:relative;
  left:3px;height:41px;
  width:40px;
  border:0px;
}
#statusMessage {
  position:absolute;top:40%;left:20%
}

#runningStatus {
 width:85%;
 height:18px;
 font-size:12px;
 color:#456068; 
 z-index:10;
 position:relative;
}

#controllers {
 z-index:1;
 position:absolute;
 top:44px;
 right:5px;
}

#domExp {
 display:none;
 position:absolute;
 background:white;
 left:50px;
 top:60px;
 width:100%;
 z-index:100;
 font-size:15px;
 color:#3f6d75;
 border:1px solid #aaa; 
 overflow:auto;
}

#ideForm {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}

#resOut {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}
#perfOut {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}

.outputEntry {
    position: relative;
    padding: 3px;
    overflow: hidden;
    border-bottom: 1px solid #aaa;
    width: 98%;
    cursor:pointer;
}

#navigation {
 padding:8px;
 height:10px;
 bottom:5px;
 font-size:11px;
 background:white;
 left:10%;
}

.tab {
 height:100%;
 overflow: hidden;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

ul#icons {
  margin:0;
  padding:0;
}
ul#icons li {
  cursor:pointer;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:2px;
  padding:5px 5px;
  position:relative;
}
ul#icons span.ui-icon {
  float:left;
  margin:0 4px;
}

ul#btns {
  margin:0;
  padding:0;
}
ul#btns li {
  cursor:pointer;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:2px;
  padding:2px 0;
  position:relative;
}
ul#btns span.ui-icon {
  float:left;
  margin:0 4px;
}