body, html
{	

	font-size: 11px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-family:  "Verdana", "Arial", sans-serif; 
    width: 100%;	/* make the body expand to fill the visible window */
    height: 100%;
    overflow: hidden;	/* erase window level scrollbars */
    padding: 0 0 0 0;
    margin: 0 0 0 0; 

}
a {
  color: #9a3527;
  text-decoration: none;
}
a:hover {
  color: #456068;
  border-bottom: 1px dotted;

}

#pagediv {
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	border:0px;
	position:absolute;
	visibility: visible;
	z-index:1;
	overflow: auto;
}

.dialog {
 position:absolute;
 background-color:white;
 left:10%;
 width:80%;
 height:80%;
 top:8%;
 display:none;
 border:1px solid black;
 z-index:10;
 overflow:auto;
}

.texta {
  font: 10px arial;
	margin:0px;
	height:19px;
	width:300px;
	border:solid 0 #fff;
	background: transparent url("../img/text_elem_gradient.gif"); 
}

.smalloption {
 font:10px arial;
 height:19px;
 border:solid 0 #fff;
 background: transparent url("../img/text_elem_gradient.gif"); 

}
