body, html
{	
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	font-family: verdana, sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0; 
  overflow: auto; overflow-y: hidden; overflow-x: hidden;
  width:100%;
  height:100%;
  background:black;
}

ul#icons {
  margin:0;
  padding:0;
}
ul#icons li {
  cursor:pointer;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:2px;
  padding:5px 5px;
  position:relative;
}
ul#icons span.ui-icon {
  float:left;
  margin:0 4px;
}

ul#btns {
  margin:0;
  padding:0;
}
ul#btns li {
  cursor:pointer;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:2px;
  padding:2px 0;
  position:relative;
}
ul#btns span.ui-icon {
  float:left;
  margin:0 4px;
}

.panel {
  position: absolute;
  top: 150px;
  right: 0;
  display: none;
  background: #000000;
  border:1px solid lightgrey;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  width: 200px;
  height: auto;
  padding: 15px;
  filter: alpha(opacity=85);
  opacity: .85;
  z-index:100;
}

.panel p{
  margin: 0 0 15px 0;
  padding: 0;
  color: #cccccc;
}

.panel a, .panel a:visited{
  margin: 0;
  padding: 0;
  color: #9FC54E;
  text-decoration: none;
  border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

a.trigger{
  position: absolute;
  text-decoration: none;
  top: 5px; right: 0;
  font-size: 16px;
  letter-spacing:-1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color:#fff;
  padding: 15px 15px 15px 40px;
  font-weight: 700;
  background:#333333 url(../img/plus.png) 15% 55% no-repeat;
  border:1px solid #444444;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
  z-index:300;
}

a.trigger:hover{
  position: absolute;
  text-decoration: none;
  top: 5px; right: 0;
  font-size: 16px;
  letter-spacing:-1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color:#fff;
  padding: 15px 15px 15px 40px;
  font-weight: 700;
  background:#222222 url(../img/plus.png) 15% 55% no-repeat;
  border:1px solid #444444;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
}

a.active.trigger {
  background:#222222 url(../img/minus.png) 15% 55% no-repeat;
}

#runningStatus {
  height:30px;
  color:white;
  padding:5px;
}

.buttons {
 float:right;
}

#ideForm {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}

#resOut {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}

#perfOut {
  position:relative;
  width:100%;
  overflow: auto; overflow-y: auto; overflow-x: hidden;
}

#loadMessage {
  color:white;
  margin:40px;
}

.suite {
  overflow:hidden;
  /*border-bottom:1px solid black;*/
  position:relative;
  width:99%;
}

.suiteHeader {
  width:99%;
  table-layout: fixed;
}

.suiteTitleDiv {
  /*cursor:pointer;*/
  width:215px;
  overflow:hidden
}

.suiteButton {
  padding-left:4px;
  padding-right:4px;
}

.suite {
  overflow:hidden;
  /*border-bottom:1px solid black;*/
  position:relative;
  width:99%;
}

.suiteHeader {
  width:99%;
  table-layout: fixed;
}

.suiteTitleDiv {
  /*cursor:pointer;*/
  width:215px;
  overflow:hidden
}

.suiteButton {
  padding-left:4px;
  padding-right:4px;
}
.action {
  position:relative;
  padding:2px;
  margin:1px;
  overflow:hidden;
  color:black;
}

#cover {
 width:100%;
 height:100%;
 background-color:black;
 opacity:.8;
 filter: alpha(opacity=80);
 z-index:1000;
 position:absolute;
 left:0px;
 top:0px;
 padding:0px;
 margin:0px;
}

.outputEntry {
  position: relative;
  padding: 3px;
  overflow: hidden;
  border-bottom: 1px solid #aaa;
  width: 98%;
  cursor:pointer;
}

.tab {
 height:100%;
 overflow: hidden;
}

.texta {
  width:200px;
}