body, html
{	

	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-family:  'Lucida Grande', Geneva, sans-serif; 
    width: 100%;	/* make the body expand to fill the visible window */
    height: 100%;
    overflow: hidden;	/* erase window level scrollbars */
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}
a:link { text-decoration : none; color : #6699cc; border: 0px;} 
a:active { text-decoration : underline; color : #6699cc; border: 0px;} 
a:visited { text-decoration : none; color : #6699cc; border: 0px;} 
a:hover { text-decoration : underline; color : #336699; border: 0px; cursor: pointer; }


.frameid {
	left:0px;
	right:0px;
	width:100%;
	height:100%;
	border:0px;
	
}

#webUI{
    height:20px;
    visibility:hidden;
    
}

#togglediv{
    position:absolute;
    top:0px;
    left:85%;
}

#pagediv{
	left:0px;
	top:50px;
	height:96%;
	width:100%;
	border:0px;
	position:absolute;
	visibility: visible;

}

#resultsdiv{
    width:100%;
    top:0px;
    position:absolute;
    height:100%;
    border:0px solid black;
    font-size:10px;

    
}

#performancediv{
    width:100%;
    top:0px;
    position:absolute;
    height:100%;
    border:0px solid black;
    font-size:10px;
    
}

#tabBlock {

    top: 0px;
    left: 120px;
    width: 320px;
    height: 80px;
    border: none;

}

#mainTabContainer {
    top: 0px;
    left: 0%;
    width: 85%;
    height: 150px;
    border: none;
}

#welcome{
    width:300px;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size:10px;

}

#Info{
    width:320px;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size:10px;

}

#RC{
    width:320px;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size:10px;

}
