/*
 * Danne Lundqvist
 * http://www.dotvoid.com
 *
 * More information see the README file
 */
 

 body, p, li {
 font-size: 9pt;
 }

 
div.TabStyleTabList
{
margin: 0px;
padding: 0px;
}

div.TabStyleTabActive
{
border: 1px solid #999;
border-bottom: 1px solid #fff;
background-color: #fff;
margin-left: 5px;
padding: 3px;
font-size: 10px;
display: inline;

}

.TabStyleTabActive a {
text-decoration: none;
color: #448;
cursor: default;
}

div.TabStyleTabNormal
{
display: inline;
border: 1px solid #ccc;
border-bottom: 1px solid #ccc;
background-color: #DDE;
margin-left: 5px;
padding: 3px;
font-size: 10px;
}

div.TabStyleTabNormal a {
text-decoration: none;
}

div.TabStyleTabNormal a:hover {
text-decoration: underline;
}

div.TabStyleContainer
{
margin: 0px;
padding: 0px;
}

div.TabStyleContent
{
padding: 4px;
margin: 0px;
margin-top: 3px !important;
margin-top: -1px;
height:98%;
width:99%;
overflow:scroll;
position:absolute;

}
